{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default" ng-app="myApp" ng-controller="myCtrl">

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact No.</th>
            </tr>
            </thead>
            <tbody>


                <tr ng-repeat="contact in contacts">
                    <div ng-show="contact.id">
                        <td>{{ '{{ contact.id }}' }}</td>
                        <td>{{ '{{ contact.name }}' }}</td>
                        <td>{{ '{{ contact.address }}' }}</td>
                        <td>{{ '{{ contact.email }}' }}</td>
                        <td>{{ '{{ contact.contactno }}' }}</td>
                        <td><input type="button" ng-click="delete(contact.id)" value="Delete"></td>
                        <td><input type="button" ng-click="edit(contact.id)" value="Edit"></td>

                    </div>

                </tr>
            </tbody>
        </table>
        {{ '{{ contact.name }}' }}

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/home.js') }}"></script>
    <script src="{{ asset('js/myjs.js') }}"></script>
{% endblock %}