{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}


{% block body %}
    <div class="panel panel-default" ng-app="myApp" ng-controller="myCtrl">

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Contact No.</th>
        </tr>
        </thead>
        <tbody>


            <tr ng-repeat="contact in contacts">

                <td>{{ '{{ contact.id }}' }}</td>
                <td>{{ '{{ contact.name }}' }}</td>
                <td>{{ '{{ contact.address }}' }}</td>
                <td>{{ '{{ contact.email }}' }}</td>
                <td>{{ '{{ contact.contactno }}' }}</td>
            </tr>
        </tbody>
    </table>

    </div>
{% endblock %}


