{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default" ng-app="myApp" ng-controller="myCtrl">

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact No.</th>
            </tr>
            </thead>
            <tbody>


                <tr ng-repeat="contact in contacts">
                    <div ng-show="contact.id">
                        <td>{{ '{{ contact.id }}' }}</td>
                        <td>{{ '{{ contact.name }}' }}</td>
                        <td>{{ '{{ contact.address }}' }}</td>
                        <td>{{ '{{ contact.email }}' }}</td>
                        <td>{{ '{{ contact.contactno }}' }}</td>
                        <td><input type="button" ng-click="delete(contact.id)" value="Delete"></td>
                        <td><input type="button" ng-click="edit()" value="Edit"></td>

                    </div>

                </tr>
            </tbody>
        </table>

    </div>

    <div ng-app="ui.bootstrap.demo" ng-controller="ModalDemoCtrl as $ctrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <ul>
                    <li ng-repeat="item in $ctrl.items">
                        <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b></b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
            </div>
        </script>

        <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/myjs.js') }}"></script>
{% endblock %}