{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><strong>Contacts</strong></div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact No.</th>
            </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.address }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.contactno }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block javascripts %}

{% endblock %}